---
import Layout from '../layouts/Layout.astro';
import Connect from '../components/Connect.astro';
---

<Layout current="connect" title="Connect — Dushyant Garg">
  <div class="container">
    <Connect />
  </div>

  <script>
    import '../scripts/connect.js';
  </script>
</Layout>
