---
import Layout from '../layouts/Layout.astro';
import Now from '../components/Now.astro';
---

<Layout current="now" title="Now — Dushyant Garg">
  <div class="container">
    <Now />
  </div>
</Layout>
