---
import SocialLink from './SocialLink.astro';
---
<div id="connect" class="connect">
  <p class="connect-subtitle reveal" style="--reveal-delay: 0.08s;">I ship at 4 AM and write about it. Come say hi.</p>
  <div class="connect-links">
    <SocialLink className="connect-link reveal" href="https://github.com/fraction12">GitHub</SocialLink>
    <SocialLink className="connect-link reveal" href="https://dushyantg.substack.com">Substack</SocialLink>
    <SocialLink className="connect-link reveal" href="https://linkedin.com/in/dushyantgarg">LinkedIn</SocialLink>
    <SocialLink className="connect-link reveal" href="https://www.npmjs.com/~fraction12">npm</SocialLink>
  </div>
</div>
