---
---
<footer>
  <p>© 2026 Dushyant Garg &nbsp;·&nbsp; Design background, PM brain, builder hands</p>
  <button id="lobster-mode-btn" onclick="toggleLobsterMode()">🦞 lobster mode</button>
</footer>
